extends layout

block content
  script.
    var navbarEl = document.getElementById("resume");
    navbarEl.classList.add("active");
  div(class="row")
    div(class="col-sm-8")
      h2(class="cat-name") #{category}
    div(class="col-sm-4")
      div(class="add-cat-item" align="right" data-toggle="modal" data-target="#add_modal")
        i(class="fas fa-plus")
  if items
      each item in items
        div(class="row")
          div(class="col-sm-12")
            br
            div(class="itemgrid")
              div(class="row")
                div(class="col-sm-8 item-title")
                  p #{item.item}
                div(class="col-sm-4 item-options")
                  i(class="far fa-edit item-edit" data-target="#edit_item_modal" data-toggle="modal")
                  i(class="fas fa-times item-remove")
              div(class="row")
                div(class="col-sm-12 item-date")
                  p #{item.item_time}
              div(class="row")
                div(class="col-sm-12")
                  h4(class="item-detail") #{item.item_desc}

        div(class="modal fade" id="edit_item_modal" role="dialog")
          div(class="modal-dialog modal-lg")
            div(class="modal-content")
              div(class="modal-header")
                div(class="modal-title")
                  h4(style="font-size:24px") #{item.item}
              div(class="modal-body" style="margin:5%")
                form
                  div(class="row")
                    div(class="col-sm-12")
                      label(style="font-size:21px") Timeframe:  
                      textarea(class="form-control" id="exampleFormControlTextarea1" rows="1" type="text") #{item.item_time}
                  br
                  div(class="row")
                    div(class="col-sm-12")
                      label(style="font-size:21px") Description:
                      textarea(class="form-control" id="exampleFormControlTextarea2" rows="5" type="text") #{item.item_desc}
              div(class="modal-footer")
                button(type="button" class="btn btn-default" data-dismiss="modal")
                  h4(style="font-size:16px") Close
                button(type="button" class="btn btn-default" data-dismiss="modal")
                  h4(style="font-size:16px") Apply

  <!-- Modal -->
  div(class="modal fade" id="add_modal" role="dialog")
      div(class="modal-dialog")

      <!-- Modal content-->
      div(class="modal-content modal-lg")
          div(class="modal-header")
              button(type="button" class="close" data-dismiss="modal") &times;
              h4(class="modal-title" style="font-size:21px") Add Item
          form(class="form-horizontal" method="post")
              div(class="modal-body")
                  div(class="signup")
                          div(class="form-group")
                              div(class="col-sm-4" align="right" style="font-size:16px")
                                  label(class="control-label" for="itemname") Item Name:
                              div(class="col-sm-8")
                                  input(type="text" class="form-control" name="itemname")
                          div(class="form-group")
                              div(class="col-sm-4" align="right" style="font-size:16px")
                                  label(class="control-label" for="itemtime") Timeframe:
                              div(class="col-sm-8")
                                  input(type="textarea" class="form-control" name="itemtime" rows="5")
                          div(class="form-group")
                              div(class="col-sm-4" align="right" style="font-size:16px")
                                  label(class="control-label" for="itemdescription") Description:
                              div(class="col-sm-8")
                                  input(type="textarea" class="form-control" name="itemdescription" rows="5")
              div(class="modal-footer")
                  input(type="submit" class="btn btn-default" value="Submit")
                  button(type="button" class="btn btn-default" data-dismiss="modal") Close
        
